logs
project/project
project/target
target
tmp
.history
.target
.settings
.cache
dist
/.idea
/*.iml
/out
/.idea_modules
.classpath
.project
/RUNNING_PID
*.jdb
*.info.*
*.lck
*.bak
samples/**/db/*.properties

/bin
/samples/frames-simple-app/bin
